html {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(245, 220, 188);
    padding: 0;
    overflow-x: hidden;
    min-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo img {
    height: 150px;
}

.title {
    width: 40%;
    justify-content: center;
    background-color: rgb(200, 200, 238);
    color: black;
    font-size: 15px;
    text-align: center;
    height: 150px;
}

.prisoner_image img {
    height: 150px;
}

.additional {
    flex: 1 1 250px;
}

.imagesarea {
    flex: 3 1 850px;
}

.logo,
.prisoner_image, .title {
   flex: 1;
   min-width: 250px;
}

.title h1 {
    margin-top: 5px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.linknav {
    margin-left: 190px;
}

.linknav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.linknav li {
    float: none;
}

.linknav a {
    background-color: rgb(251, 255, 0);
    display: block;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: blue;
    transition: all 0.2s ease;
    font-weight: 540;
}

.linknav li a:hover {
    background-color: rgb(0, 255, 234);
}

.goog-te-gadget img {
    display: none !important;
}

.goog-te-combo {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

.goog-te-combo-arrow {
    display: none;
}

.goog-te-menu-value {
    font-size: 14px;
    color: #333;
}

#languages {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

li:hover #languages {
    opacity: 1;
    top: 60px;
    left: -40px;
    visibility: visible;
}

#languages li a:hover {
    background-color: rgb(253, 143, 0);
}

#languages li {
    width: 100%;
}

.supercontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

aside {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

aside p {
    font-size: 25px;
    color: red;
}

aside a {
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: blue;
}

.logojp {
    width: fit-content;
    height: fit-content;
}

.outside_of_prison,
.police {
    flex: 1 1 300px;
}

.container {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 1200px;
}

.description {
    margin-width: 1200px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.map-container {
    width: 100%;
    height: 400px;
    marign: 0 auto;
}

.time-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px auto;
    width: fit-content;
    background-color: #f0f0f0;
    padding: 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#datetime {
    font-size: 30px;
    color: hsl(17, 100%, 50%);
}

footer {
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-bottom: 2px;
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        text-align: center;
    }

    .linknav a {
        font-size: 18px;
        padding: 10px;
    }

    .time-container {
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .linknav a {
        font-size: 26px;
    }
}

